<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Banking_App</display-name>
	<welcome-file-list>
		<welcome-file>Project_1_P1.html
		</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>AllTransactions</display-name>
		<servlet-name>AllTransactions</servlet-name>
		<servlet-class>com.project.controller.AllTransactions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllTransactions</servlet-name>
		<url-pattern>/AllTransactions</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteCustomerServlet</display-name>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<servlet-class>com.project.controller.DeleteCustomerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<url-pattern>/DeleteCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DepositServlet</display-name>
		<servlet-name>DepositServlet</servlet-name>
		<servlet-class>com.project.controller.DepositServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepositServlet</servlet-name>
		<url-pattern>/DepositServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EmployeeLogin</display-name>
		<servlet-name>EmployeeLogin</servlet-name>
		<servlet-class>com.project.controller.EmployeeLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeLogin</servlet-name>
		<url-pattern>/EmployeeLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ForgotCustomerId</display-name>
		<servlet-name>ForgotCustomerId</servlet-name>
		<servlet-class>com.project.controller.ForgotCustomerId</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotCustomerId</servlet-name>
		<url-pattern>/ForgotCustomerId</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ForgotPassword</display-name>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.project.controller.ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginCustomer</display-name>
		<servlet-name>LoginCustomer</servlet-name>
		<servlet-class>com.project.controller.LoginCustomer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCustomer</servlet-name>
		<url-pattern>/LoginCustomer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterCustomer</display-name>
		<servlet-name>RegisterCustomer</servlet-name>
		<servlet-class>com.project.controller.RegisterCustomer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterCustomer</servlet-name>
		<url-pattern>/RegisterCustomer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewBalance</display-name>
		<servlet-name>ViewBalance</servlet-name>
		<servlet-class>com.project.controller.ViewBalance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewBalance</servlet-name>
		<url-pattern>/ViewBalance</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WithdrawalServlet</display-name>
		<servlet-name>WithdrawalServlet</servlet-name>
		<servlet-class>com.project.controller.WithdrawalServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WithdrawalServlet</servlet-name>
		<url-pattern>/WithdrawalServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AllCustomers</display-name>
		<servlet-name>AllCustomers</servlet-name>
		<servlet-class>com.project.controller.AllCustomers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllCustomers</servlet-name>
		<url-pattern>/AllCustomers</url-pattern>
	</servlet-mapping>
</web-app>